@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 51%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

a:hover { color: #66AAAA; }

header { padding: 35px 0 62px; }

header .wrapper {
  padding-left: 2px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 { padding-bottom: 4px; }

.navigation { 
  display: flex;
  align-items: flex-end;
  flex-basis: 59.8%; 
  flex-wrap: wrap;
  justify-content: space-between;
}

nav { 
  padding-top: 18px;
  flex-basis: 84%; 
}

.hamburger { display: none; }

.hamburger div {
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #000;
  cursor: pointer;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.barone { transform: rotate(-45deg) translate(-4px, 4px); }
.bartwo { opacity: 0; }
.barthree { transform: rotate(45deg) translate(-7px, -9px); }

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #2E302F;
  font-size: .6em;
  text-transform: uppercase;
}

.cart a {
  color: #2E302F;
  font-size: 20px;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.cart a::before {
  content: "\f290";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.cart a:hover { color: #66AAAA; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner.wrapper { 
  width: 58.8%; 
  padding-bottom: 35px;
  margin-bottom: 30px;
  position: relative;
}

.slick-dots { 
  position: absolute; 
  bottom: 20px;
}

.featured-items { text-align: center; }

h2 {
  margin-bottom: 115px;
  color: #707372;
  font-size: .7em;
  text-transform: uppercase;
  white-space: nowrap;
}

h2::before, h2::after {
  content: "";
  width: 38.7%;
  border-bottom: 1px solid #707372;
  display: inline-block;
  vertical-align: super;
}

h2::before { margin-right: 3%; }
h2::after { margin-left: 3%; }

.featured-items-content { 
  padding: 0 7px 40px; 
  margin-bottom: 45px;
}

.featured-items-content ul {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
}

.featured-items-content li { 
  flex-basis: 32%; 
  font-size: .7em;
  text-transform: capitalize;
}

.featured-items-content li figure { margin-bottom: 10px; }
.featured-items-content li:last-of-type figure { position: relative; }

.featured-items-content figcaption {
  padding: 5px 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #71887B;
  color: #C2D1BE;
}

.featured-items-content li a { 
  color: #707372; 
  transition: .3s ease-in-out;
}

.featured-items-content li a:hover { color: #66AAAA; }

.product-name { margin-bottom: 5px; }

.shop-all a {
  padding: 2px 25px;
  border: 1px solid #8e9190;
  color: #2E302F;
  font-size: .8em;
  text-transform: capitalize;
  transition: .3s ease-in-out;
}

.shop-all a:hover { color: #66AAAA; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top { 
  padding: 84px 0;
  background-color: #E7EEEA; 
}

h4 { 
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between; 
}

h4::after { 
  content: "";
  width: 81.8%;
  border-bottom: 1px solid #707372;
  display: inline-block;
  vertical-align: bottom;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: .7em;
  text-transform: capitalize;
}

.menu { flex-basis: 8%; }
.faq { flex-basis: 16.5%; }
.contact-us { flex-basis: 20%; }

.footer-navigation li { display: block; }

.footer-navigation a {
  margin-bottom: 7px;
  color: #707372;
  transition: .3s ease-in-out;
}

.footer-navigation a:hover { color: #66AAAA; }

address { 
  margin-bottom: 5px;
  color: #707372;
  line-height: 20px; 
}

.subscribe { flex-basis: 29.5%; }

.subscribe span {
  margin-bottom: 10px;
  display: block;  
  color: #707372; 
}

.subscribe input, button {
  padding: 5px 15px;
  border: 1px solid #747A78;
  margin-bottom: 5px;
  background-color: transparent;
  text-transform: capitalize;
  outline-style: none;
}

.subscribe input { 
  width: 82%; 
  border-right: 1.2px solid #5C5F5E;
  border-bottom: 1.2px solid #5C5F5E;
}

.subscribe button { 
  width: 98%; 
  color: #2D302F;
  transition: .3s ease-in-out;
}

.subscribe button:hover {
  background-color: #66AAAA;
  color: #fff;
}

.wrong {
  margin-bottom: 10px;
  color: #A80500;
}

.footer-bottom {
  padding: 16px 0 20px;
  color: #818785;
  font-size: .7em;
  text-align: center;
}

.footer-bottom a {
  color: #818785;
  border-bottom: 1px solid #5C5F5E;
  transition: .3s ease-in-out;
}

.footer-bottom a:hover { color: #66AAAA; }

.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 85px;
  font-size: .8em;
}

.social a {
  margin-bottom: 15px;
  color: #010101;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.social a:hover { color: #66AAAA; }

.social a::before {
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:first-of-type a::before { content: "\f16d"; }
.social li:nth-of-type(2) a::before { content: "\f231"; }
.social li:last-of-type a::before { content: "\f09a"; }

.back-to-top {
  position: fixed;
  right: 14px;
  bottom: 25px;
}

.back-to-top a {
  color: #fff;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.back-to-top a::before {
  content: "\f27a";
  padding: 5px;
  border-radius: 50%;
  float: left;
  background-color: #2E302F;
  font-family: fontAwesome;
  font-size: 1.5em;
  text-indent: 0;
}

.back-to-top a:hover { color: #66AAAA; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  